/*
  CSS DIRECTORY
    1. =GLOBAL
    2. =HEADER
    3. =MAIN
    4. =SIDEBAR
    5. =FOOTER
*/

/* ===GLOBAL=== */

@font-face {
  font-family: inter;
  font-weight: 400 900;
  font-style: normal;
  font-display: swap;
  src: url("/assets/fonts/inter-variable.woff2");
}

@font-face {
  font-family: inter;
  font-weight: 400 900;
  font-style: italic;
  font-display: swap;
  src: url("/assets/fonts/inter-italic-variable.woff2");
}

:root {
  /* Alpha */
  --alpha-border: 15%;

  /* Color scheme */
  --clr-black: hsl(0deg 0% 5%);
  --clr-light: hsl(0deg 0% 100%);
  --clr-base: hsl(0deg 0% 100%);
  --clr-base-secondary: hsl(from var(--clr-base) h s calc(l - 5));
  --clr-content: hsl(0deg 0% 5%);
  --clr-content-secondary: hsl(from var(--clr-content) h s calc(l + 25));
  --clr-accent: hsl(330deg 75% 50%);
  --clr-border: hsl(from var(--clr-content) h s l / var(--alpha-border));
  --clr-link: hsl(210deg 75% 50%);
  --clr-link-visited: hsl(270deg 75% 50%);

  /* Hover */
  --hover-clr: hsl(from var(--clr-content) h s l / var(--alpha-border));
  --hover-clr-inverted: hsl(from var(--clr-base) h s l / var(--alpha-border));
  --hover-size: 0 0 9999px 9999px;
  --hover-link-amount: 50%;

  /* Typography */
  --ff: inter, system-ui, sans-serif;
  --fs-xl: 1.375rem;
  --fs-lg: 1.125rem;
  --fs-md: 1rem;
  --fs-sm: 0.875rem;
  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;
  --font-h1: var(--fw-bold) var(--fs-xl) var(--ff);
  --font-h2: var(--fw-bold) var(--fs-lg) var(--ff);
  --font-subheading: var(--fw-medium) var(--fs-md) var(--ff);
  --font-primary: var(--fw-regular) var(--fs-md) var(--ff);
  --font-secondary: var(--fw-regular) var(--fs-sm) var(--ff); /* fixed typo */
}

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100dvh;
  background-color: var(--clr-base);
  color: var(--clr-content);
  fill: var(--clr-content);
  font: var(--font-primary);

  & * {
    font-feature-settings: "cv01", "cv05", "cv07";
  }
}

/* --Typography-- */

h1 {
  font: var(--font-h1);
}

h2 {
  font: var(--font-h2);
}

h3,
h4,
h5,
h6 {
  font: var(--font-subheading);
}

b,
strong {
  font-weight: var(--fw-bold);
}

/* --Buttons-- */

button {
  min-height: 44px;
  padding: 0.5em 0.75em;
  border: none;
  background: none;
}

button:hover {
  box-shadow: inset var(--hover-size) var(--hover-clr);
}

.btn--inverted {
  background-color: var(--clr-content);
  color: var(--clr-base);
}

.btn--inverted:hover {
  box-shadow: inset var(--hover-size) var(--hover-clr-inverted);
}

/* --Links-- */

a {
  color: var(--clr-link);
}

header a,
aside a,
footer a,
.video-card__meta-item,
.video-actions__user,
.comment__user {
  color: inherit;
  text-decoration: none;
}

a:hover {
  filter: brightness(var(--hover-link-amount));
}

a:visited {
  color: var(--clr-link-visited);
}

header a:visited,
aside a:visited,
footer a:visited,
.video-card__meta-item:visited,
.video-actions__user:visited,
.comment__user:visited {
  color: inherit;
}

/* ===HEADER=== */

header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--clr-border);
  background-color: var(--clr-base);
}

.header-start,
.header-end {
  display: flex;
  align-items: center;
}

.header__logo {
  color: var(--clr-accent);
}

.header__logo:visited {
  color: var(--clr-accent);
}

.header__dev-stage {
  color: var(--clr-content-secondary);
}

/* ===MAIN=== */

/* --Video Card-- */

.video-card__meta {
  color: var(--clr-content-secondary);
}

.video-card__meta-item::before {
  margin: 0 0.5rem;
  font-size: 0.75rem;
  content: "•";
}

.video-card__meta-item:first-child::before {
  margin: 0;
  content: none;
}

/* --Video Page-- */

.video-player {
  background-color: var(--clr-black);
}

.video-actions,
.video-actions__channel,
.video-actions__utilities,
.video-actions__rating,
.video-actions__btn--rate {
  display: flex;
  align-items: center;
}

.video-actions {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.video-actions__channel,
.video-actions__utilities {
  gap: 1rem;
}

.video-actions__btn {
  background-color: var(--clr-base-variant);
}

.video-actions__btn-follow {
  padding: 0 2em;
}

.video-actions__btn--rate {
  gap: 1rem;
}

.comment__date {
  color: var(--clr-content-secondary);
}

.comment__actions,
.comment__btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ===SIDEBAR=== */

aside {
  display: none;
}

/* ===FOOTER=== */

footer {
  padding: 0.5rem;
  background-color: var(--clr-base);
  color: var(--clr-content-secondary);
  fill: var(--clr-content-secondary);

  & .footer__link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }
}
